*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./img/desktop-wallpaper-spotify.jpg');
    background-size: cover;
}
.form-register{
    width: 400px;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
.constrols{
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #24303c;
    font-family: 'calibri';
    font-size: 18px;
}
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.form-register a{
    color: white;
    text-decoration: none;
}
.form-register a:hover{
    color: rgb(136, 134, 134);
    text-decoration: underline;
}
.form-register .botons{
    width: 100%;
    background: rgb(9, 5, 243);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}